body {
  background-color: #f7fbf4;
}
.frog {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  margin-top: 20px;
  padding-bottom: 20px;
}
.box {
  background-color: #f7fbf4;
  width: 500px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  justify-content: center;
  border-radius: 8%;
}
.box2 {
  background-color: rgb(255, 255, 255);
  width: 500px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  justify-content: center;
  border-radius: 8%;
}
.boxter {
  background-color: #f7fbf4;
  width: 1000px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  border-radius: 8%;
  justify-content: center;
}
.boxter2 {
  background-color: #ffffff;
  width: 1000px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  border-radius: 8%;
  justify-content: center;
}

.rad {
  border-radius: 8%;
}

.center {
  justify-content: center;
}

p {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 40px;
  font-size: 25px;
  font-family: sans-serif;
}

a {
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 40px;
  font-size: 40px;
  font-family: sans-serif;
}

a:link {
  color: #417716;
}

a:visited {
  color: #417716;
}

a:hover {
  border-bottom: 1px solid;
  background: #f7fbf4;
}

a:active {
  background: #489c04;  
  color: #f7fbf4;
}
